* {
    padding: 0px;
    margin: 0px;
}
table {
    width: 100%;
}
table,
tr,
td {
    border-collapse: collapse;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}
.container {
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.header {
    margin: 20px 0;
    text-align: center;
}
